#headerapp {
    font-size: 25px;
    font-family: "Roboto";
    background-color:white;
    border-bottom: 2px solid rgb(39, 102, 150);
    color: black;
}

#rightbar {
    background-color: rgb(39, 102, 150);
    min-height: 100%;
    // border-left: 2px solid lightgray;
    // max-width: 19vw;
    transition: 500ms ease;
}

#leftbar {
    background-color: rgb(39, 102, 150);
    // border-right:2px solid lightgray;
    min-height: 100%;
    // max-width: 19vw;
    transition: 500ms ease;
}

#center-container {
    // height: 100%;  
    max-width: 90vw;
    min-width: 60vw;
    margin: 0 auto;
}

.div-content {
    width: 100%;
}

#rightbar-icon {
    padding: 12;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

#leftbar-icon {
    padding: 12;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

.rightbar-menu {
    padding: 10px;
    font-size: 14px;
    background: #fff;
    min-width: 16vw;
    margin: 0.5rem;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.collapse-div {
    max-width: 3.5vw !important;

    .rightbar-menu-main {
        display: none;
    }

    .leftbar-menu-main {
        display: none;
    }
}

.gender-toggle>label>input {
    -webkit-appearance: button !important;
    width: 40px;
    height: 28px;
}

#btnAge,
#btnGender,
#btnSite,
#btnLocation {
    display: inline-block;
    margin: 0.2rem;
}

#btnSite,
#btnLocation {
    display: none;
}

.hidediv {
    display: none;
}

//highcharts

.highcharts-container {
    width: 100% !important;
    margin:auto;
    border-radius: 0 20px 20px 20px;
}

.highcharts-container:not(.heatmap){
    height: 90%;
}

.highcharts-legend {
    display: none;
    border-radius: 20px;
}

.xAxis span:hover {
    font-weight: 600;
}

.highcharts-axis-line,.highcharts-grid-line, .highcharts-tick{
    display:none;
}

.selected-xaxis{
    font-weight: bold;
}
.highcharts-root{
    // height:100% !important;
    width: 100% !important;
}
// .fixed-right{
//     position: fixed;
//     right:0;
//     z-index:999;
// }

// .fixed-left{
//     position: fixed;
//     left:0;
//     z-index:999;
// }