#loader:before,
#loader:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  left: calc(50% - 10px);
  background-color: #6d7fcc ;
  animation: squaremove 2s ease-in-out infinite;
}

#loader:after {
  bottom: 0;
  animation-delay: 0.5s;
}

@keyframes squaremove {

  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -ms-transform: translate(0, 0) rotate(0);
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
  }

  25% {
    -webkit-transform: translate(40px, 40px) rotate(45deg);
    -ms-transform: translate(40px, 40px) rotate(45deg);
    -o-transform: translate(40px, 40px) rotate(45deg);
    transform: translate(40px, 40px) rotate(45deg);
  }

  50% {
    -webkit-transform: translate(0px, 80px) rotate(0deg);
    -ms-transform: translate(0px, 80px) rotate(0deg);
    -o-transform: translate(0px, 80px) rotate(0deg);
    transform: translate(0px, 80px) rotate(0deg);
  }

  75% {
    -webkit-transform: translate(-40px, 40px) rotate(45deg);
    -ms-transform: translate(-40px, 40px) rotate(45deg);
    -o-transform: translate(-40px, 40px) rotate(45deg);
    transform: translate(-40px, 40px) rotate(45deg);
  }
}

#loader {
  display: none;
}

.loading {
  width: 100%;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  margin: auto;
}

.loading2 {
    position: absolute;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    right: 0;
    display: none;
  }
  