#header{
    font-size: 30px;
    font-family: "Roboto";
    background-color: cadetblue;
}

#rightbar{
    background-color: lightsalmon;
    height: 100%;
    max-width:20vw;
    transition : 300ms ease;
}
#leftbar{
    background-color: lightsalmon;
    height: 100%;
    max-width:14vw;
    transition : 300ms ease;
}
#center-container{
    height: 100%;   
}

.div-content{
    height:100%;
    width:100%;
    background-color: aquamarine;
}

#rightbar-icon{
    padding:15px;
    font-size: 36px !important;
    cursor:pointer;
}

#leftbar-icon{
    padding:15px;
    font-size: 36px !important;
    cursor:pointer;
}
.collapse-div{
    max-width:4vw !important;
}

